{% extends '::base.html.twig' %}


{% block body %}
<h1>Affichage de l'article "Mon super article"</h1>

<p>Catégorie : Infos | Publié le 12 novembre à 14:30</p>

<p Blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla </p>
{% endblock %}