{% extends '::base.html.twig' %}


{% block body %}
<h1>Affichage de l'article "{{ article.nom }}"</h1>

<p>Catégorie : Infos | Publié le {{ article.date|date }}</p>

<p>{{ article.description }}</p>
{% endblock %}